extends layout

block styles
	link(rel="stylesheet" href="css/index.css")

block custom-scripts
	script(type='text/javascript').
		window.__INITIAL_STATE__ = !{JSON.stringify(data)}

block content
	main.main#app!= content

block scripts
	script(type='text/javascript', src='/js/common.js')
	script(type='text/javascript', src='/js/index.js')