doctype html
html
    head
        meta(charset='utf-8')
        title Page Title

        // Main Meta information
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='keywords', content='')
        meta(name='description', content='')
        meta(name='author', content='')

        // Meta Information
        meta(name='robots', content='index, follow')
        meta(name='language', content='Russian')
    body
        main#app